:root, :host {
        --border-radius-none: 0rem;
--border-radius-2: 0.125rem;
--border-radius-4: 0.25rem;
--border-radius-8: 0.5rem;
--border-radius-full: 5rem;
--border-width-none: 0rem;
--border-width-sm: 0.0625rem;
--border-width-md: 0.125rem;
--font-line-height-xs: 1rem;
--font-line-height-sm: 1.25rem;
--font-line-height-md: 1.5rem;
--font-line-height-lg: 1.75rem;
--font-line-height-xl: 2.25rem;
--font-size-xxs: 0.75rem;
--font-size-xs: 0.8125rem;
--font-size-sm: 0.875rem;
--font-size-md: 1rem;
--font-size-lg: 1.125rem;
--font-size-xl: 1.25rem;
--font-size-xxl: 1.5rem;
--font-weight-light: 300;
--font-weight-regular: 400;
--font-weight-semi-bold: 600;
--font-weight-bold: 700;
--size-0: 0rem;
--size-1: 0.0625rem;
--size-2: 0.125rem;
--size-4: 0.25rem;
--size-8: 0.5rem;
--size-12: 0.75rem;
--size-16: 1rem;
--size-20: 1.25rem;
--size-24: 1.5rem;
--size-28: 1.75rem;
--size-32: 2rem;
--size-36: 2.25rem;
--size-40: 2.5rem;
--size-48: 3rem;
--size-64: 4rem;
--size-80: 5rem;
--font-family-Font-Awesome-6-Pro: Font Awesome 6 Pro;
--font-family-Source-Sans-Pro: Source Sans Pro;
        &.pwc-dark {
            color-scheme: dark;
            --color-background-disabled: #2d343b8f;
--color-background-overlay: #101214b8;
--color-background-sunken: #181b1f;
--color-background-accent-blue-default: #004495;
--color-background-accent-blue-hovered: #0057bf;
--color-background-accent-blue-pressed: #006bea;
--color-background-accent-blue-alpha-default: #1580ff29;
--color-background-accent-blue-alpha-hovered: #1580ff52;
--color-background-accent-blue-alpha-pressed: #1580ff7a;
--color-background-accent-blue-bold-default: #1580ff;
--color-background-accent-blue-bold-hovered: #6aaeff;
--color-background-accent-blue-bold-pressed: #95c5ff;
--color-background-accent-gray-default: #474747;
--color-background-accent-gray-hovered: #595959;
--color-background-accent-gray-pressed: #6b6b6b;
--color-background-accent-gray-alpha-default: #84848429;
--color-background-accent-gray-alpha-hovered: #84848452;
--color-background-accent-gray-alpha-pressed: #8484847a;
--color-background-accent-gray-bold-default: #9c9c9c;
--color-background-accent-gray-bold-hovered: #b5b5b5;
--color-background-accent-gray-bold-pressed: #cecece;
--color-background-accent-green-default: #08571a;
--color-background-accent-green-hovered: #0a6e21;
--color-background-accent-green-pressed: #0c8728;
--color-background-accent-green-alpha-default: #12b53829;
--color-background-accent-green-alpha-hovered: #12b53852;
--color-background-accent-green-alpha-pressed: #12b5387a;
--color-background-accent-green-bold-default: #12b538;
--color-background-accent-green-bold-hovered: #35e35d;
--color-background-accent-green-bold-pressed: #abf7bc;
--color-background-accent-magenta-default: #782844;
--color-background-accent-magenta-hovered: #a0355b;
--color-background-accent-magenta-pressed: #c84271;
--color-background-accent-magenta-alpha-default: #f04f8829;
--color-background-accent-magenta-alpha-hovered: #f04f8852;
--color-background-accent-magenta-alpha-pressed: #f04f887a;
--color-background-accent-magenta-bold-default: #f04f88;
--color-background-accent-magenta-bold-hovered: #f58ab0;
--color-background-accent-magenta-bold-pressed: #f7a7c3;
--color-background-accent-mint-default: #164128;
--color-background-accent-mint-hovered: #22623c;
--color-background-accent-mint-pressed: #2d8350;
--color-background-accent-mint-alpha-default: #38a36429;
--color-background-accent-mint-alpha-hovered: #38a36452;
--color-background-accent-mint-alpha-pressed: #38a3647a;
--color-background-accent-mint-bold-default: #38a364;
--color-background-accent-mint-bold-hovered: #43c478;
--color-background-accent-mint-bold-pressed: #a8e4c0;
--color-background-accent-orange-default: #612a01;
--color-background-accent-orange-hovered: #944101;
--color-background-accent-orange-pressed: #ba5406;
--color-background-accent-orange-alpha-default: #eb731729;
--color-background-accent-orange-alpha-hovered: #eb731752;
--color-background-accent-orange-alpha-pressed: #eb73177a;
--color-background-accent-orange-bold-default: #eb7317;
--color-background-accent-orange-bold-hovered: #fb8c36;
--color-background-accent-orange-bold-pressed: #febe8d;
--color-background-accent-purple-default: #4c3c91;
--color-background-accent-purple-hovered: #5f4bb5;
--color-background-accent-purple-pressed: #725ad9;
--color-background-accent-purple-alpha-default: #8976df29;
--color-background-accent-purple-alpha-hovered: #8976df52;
--color-background-accent-purple-alpha-pressed: #8976df7a;
--color-background-accent-purple-bold-default: #8976df;
--color-background-accent-purple-bold-hovered: #b8acec;
--color-background-accent-purple-bold-pressed: #c9bef7;
--color-background-accent-red-default: #6a000c;
--color-background-accent-red-hovered: #950010;
--color-background-accent-red-pressed: #bf0015;
--color-background-accent-red-alpha-default: #ff152f29;
--color-background-accent-red-alpha-hovered: #ff152f52;
--color-background-accent-red-alpha-pressed: #ff152f7a;
--color-background-accent-red-bold-default: #ff1f38;
--color-background-accent-red-bold-hovered: #ff4055;
--color-background-accent-red-bold-pressed: #ff95a0;
--color-background-accent-teal-default: #03423c;
--color-background-accent-teal-hovered: #05635a;
--color-background-accent-teal-pressed: #078377;
--color-background-accent-teal-alpha-default: #08a49529;
--color-background-accent-teal-alpha-hovered: #08a49552;
--color-background-accent-teal-alpha-pressed: #08a4957a;
--color-background-accent-teal-bold-default: #08a495;
--color-background-accent-teal-bold-hovered: #0ac5b3;
--color-background-accent-teal-bold-pressed: #84e2d9;
--color-background-accent-yellow-default: #433500;
--color-background-accent-yellow-hovered: #645000;
--color-background-accent-yellow-pressed: #8f7200;
--color-background-accent-yellow-alpha-default: #bb950029;
--color-background-accent-yellow-alpha-hovered: #bb950052;
--color-background-accent-yellow-alpha-pressed: #bb95007a;
--color-background-accent-yellow-bold-default: #ebbc00;
--color-background-accent-yellow-bold-hovered: #fdd227;
--color-background-accent-yellow-bold-pressed: #ffeda7;
--color-background-brand-default: #3992fc;
--color-background-brand-hovered: #5da6fd;
--color-background-brand-pressed: #a5cdfe;
--color-background-surface-default: #101214;
--color-background-surface-hovered: #1a1e22;
--color-background-surface-pressed: #2d343b;
--color-background-surface-alpha-default: #24292f99;
--color-background-surface-alpha-hovered: #37404885;
--color-background-surface-alpha-pressed: #414b5599;
--color-background-surface-inverse-default: #ebf0f5;
--color-background-surface-inverse-hovered: #c1ccd6;
--color-background-surface-inverse-pressed: #8593a1;
--color-background-surface-neutral-default: #a2b0bd;
--color-background-surface-neutral-hovered: #c1ccd6;
--color-background-surface-neutral-pressed: #ebf0f5;
--color-background-surface-raised-default: #24292f;
--color-background-surface-raised-hovered: #2d343b;
--color-background-surface-raised-pressed: #414b55;
--color-background-surface-subtle-default: #73839400;
--color-background-surface-subtle-hovered: #73839447;
--color-background-surface-subtle-pressed: #73839466;
--color-border-base: #2d343b;
--color-border-disabled: #37404885;
--color-border-subtle: #414b55;
--color-border-subtler: #687888;
--color-border-accent-blue-base: #1580ff;
--color-border-accent-gray-base: #848484;
--color-border-accent-green-base: #12b538;
--color-border-accent-magenta-base: #f04f88;
--color-border-accent-mint-base: #38a364;
--color-border-accent-orange-base: #eb7317;
--color-border-accent-purple-base: #8976df;
--color-border-accent-red-base: #ff1f38;
--color-border-accent-teal-base: #08a495;
--color-border-accent-yellow-base: #ebbc00;
--color-border-focus-focused: #3992fc;
--color-border-focus-inverted-focus: #181b1f;
--color-border-input-default: #414b55;
--color-border-input-disabled: #414b5599;
--color-border-input-hovered: #687888;
--color-border-input-pressed: #8593a1;
--color-component-app-bar-background-base: #24292f;
--color-component-app-bar-border-base: #37404885;
--color-component-app-bar-icon-base: #a2b0bd;
--color-component-app-bar-icon-hovered: #c1ccd6;
--color-component-app-bar-icon-pressed: #ebf0f5;
--color-component-app-bar-text-base: #a2b0bd;
--color-component-app-bar-text-hovered: #c1ccd6;
--color-component-app-bar-text-pressed: #ebf0f5;
--color-component-table-body-background-hovered: #2d343b8f;
--color-component-table-body-background-pressed: #414b5599;
--color-component-table-body-background-even-row-default: #24292f99;
--color-component-table-body-background-odd-row-default: #1a1e228f;
--color-component-table-header-background-default: #37404885;
--color-component-table-header-background-hovered: #414b5599;
--color-component-table-header-background-pressed: #4b5662a3;
--color-component-widget-background-header-default: #24292f;
--color-icon-base: #ebf0f5;
--color-icon-brand: #3992fc;
--color-icon-inverse: #1a1e22;
--color-icon-subtle: #687888;
--color-icon-subtler: #4b5662;
--color-icon-accent-blue-base: #95c5ff;
--color-icon-accent-blue-subtle: #6aaeff;
--color-icon-accent-gray-base: #cecece;
--color-icon-accent-gray-subtle: #9c9c9c;
--color-icon-accent-green-base: #abf7bc;
--color-icon-accent-green-subtle: #35e35d;
--color-icon-accent-magenta-base: #fac4d7;
--color-icon-accent-magenta-subtle: #f26c9c;
--color-icon-accent-mint-base: #a8e4c0;
--color-icon-accent-mint-subtle: #43c478;
--color-icon-accent-orange-base: #ffcda6;
--color-icon-accent-orange-subtle: #fb8c36;
--color-icon-accent-purple-base: #c9bef7;
--color-icon-accent-purple-subtle: #a191e6;
--color-icon-accent-red-base: #ffbfc6;
--color-icon-accent-red-subtle: #ff4055;
--color-icon-accent-teal-base: #84e2d9;
--color-icon-accent-teal-subtle: #0ac5b3;
--color-icon-accent-yellow-base: #ffeda7;
--color-icon-accent-yellow-subtle: #ebbc00;
--color-text-base: #ebf0f5;
--color-text-clear: #c1ccd6;
--color-text-disabled: #8593a1;
--color-text-inverse: #101214;
--color-text-subtle: #c1ccd6;
--color-text-subtler: #a2b0bd;
--color-text-subtlest: #8593a1;
--color-text-accent-blue-base: #bfdcff;
--color-text-accent-blue-subtle: #1580ff;
--color-text-accent-gray-base: #cecece;
--color-text-accent-gray-subtle: #848484;
--color-text-accent-green-base: #abf7bc;
--color-text-accent-green-subtle: #12b538;
--color-text-accent-magenta-base: #fac4d7;
--color-text-accent-magenta-subtle: #f04f88;
--color-text-accent-mint-base: #a8e4c0;
--color-text-accent-mint-subtle: #38a364;
--color-text-accent-orange-base: #ffcda6;
--color-text-accent-orange-subtle: #eb7317;
--color-text-accent-purple-base: #c9bef7;
--color-text-accent-purple-subtle: #8976df;
--color-text-accent-red-base: #ffbfc6;
--color-text-accent-red-subtle: #ff1f38;
--color-text-accent-teal-base: #84e2d9;
--color-text-accent-teal-subtle: #08a495;
--color-text-accent-yellow-base: #ffeda7;
--color-text-accent-yellow-subtle: #bb9500;
--color-text-link-default: #6aaeff;
--color-text-link-hovered: #95c5ff;
--color-text-link-pressed: #6aaeff;
        }
        &.pwc-light {
            color-scheme: light;
            --color-background-disabled: #cfd4dad6;
--color-background-overlay: #e2e6e9e0;
--color-background-sunken: #e2e6e9;
--color-background-accent-blue-default: #95c5ff;
--color-background-accent-blue-hovered: #6aaeff;
--color-background-accent-blue-pressed: #4097ff;
--color-background-accent-blue-alpha-default: #1580ff29;
--color-background-accent-blue-alpha-hovered: #1580ff52;
--color-background-accent-blue-alpha-pressed: #1580ff7a;
--color-background-accent-blue-bold-default: #1580ff;
--color-background-accent-blue-bold-hovered: #006bea;
--color-background-accent-blue-bold-pressed: #0057bf;
--color-background-accent-gray-default: #cecece;
--color-background-accent-gray-hovered: #b5b5b5;
--color-background-accent-gray-pressed: #9c9c9c;
--color-background-accent-gray-alpha-default: #84848429;
--color-background-accent-gray-alpha-hovered: #84848452;
--color-background-accent-gray-alpha-pressed: #8484847a;
--color-background-accent-gray-bold-default: #6b6b6b;
--color-background-accent-gray-bold-hovered: #595959;
--color-background-accent-gray-bold-pressed: #474747;
--color-background-accent-green-default: #abf7bc;
--color-background-accent-green-hovered: #86f49f;
--color-background-accent-green-pressed: #35e35d;
--color-background-accent-green-alpha-default: #12b53829;
--color-background-accent-green-alpha-hovered: #12b53852;
--color-background-accent-green-alpha-pressed: #12b5387a;
--color-background-accent-green-bold-default: #0c8728;
--color-background-accent-green-bold-hovered: #0a6e21;
--color-background-accent-green-bold-pressed: #08571a;
--color-background-accent-magenta-default: #f7a7c3;
--color-background-accent-magenta-hovered: #f58ab0;
--color-background-accent-magenta-pressed: #f26c9c;
--color-background-accent-magenta-alpha-default: #f04f8829;
--color-background-accent-magenta-alpha-hovered: #f04f8852;
--color-background-accent-magenta-alpha-pressed: #f04f887a;
--color-background-accent-magenta-bold-default: #f04f88;
--color-background-accent-magenta-bold-hovered: #c84271;
--color-background-accent-magenta-bold-pressed: #a0355b;
--color-background-accent-mint-default: #a8e4c0;
--color-background-accent-mint-hovered: #82d8a5;
--color-background-accent-mint-pressed: #43c478;
--color-background-accent-mint-alpha-default: #38a36429;
--color-background-accent-mint-alpha-hovered: #38a36452;
--color-background-accent-mint-alpha-pressed: #38a3647a;
--color-background-accent-mint-bold-default: #38a364;
--color-background-accent-mint-bold-hovered: #2d8350;
--color-background-accent-mint-bold-pressed: #22623c;
--color-background-accent-orange-default: #febe8d;
--color-background-accent-orange-hovered: #feb073;
--color-background-accent-orange-pressed: #fb8c36;
--color-background-accent-orange-alpha-default: #eb731729;
--color-background-accent-orange-alpha-hovered: #eb731752;
--color-background-accent-orange-alpha-pressed: #eb73177a;
--color-background-accent-orange-bold-default: #ba5406;
--color-background-accent-orange-bold-hovered: #944101;
--color-background-accent-orange-bold-pressed: #823800;
--color-background-accent-purple-default: #c9bef7;
--color-background-accent-purple-hovered: #b8acec;
--color-background-accent-purple-pressed: #a191e6;
--color-background-accent-purple-alpha-default: #8976df29;
--color-background-accent-purple-alpha-hovered: #8976df52;
--color-background-accent-purple-alpha-pressed: #8976df7a;
--color-background-accent-purple-bold-default: #8976df;
--color-background-accent-purple-bold-hovered: #725ad9;
--color-background-accent-purple-bold-pressed: #5f4bb5;
--color-background-accent-red-default: #ff95a0;
--color-background-accent-red-hovered: #ff6a7b;
--color-background-accent-red-pressed: #ff4055;
--color-background-accent-red-alpha-default: #ff152f29;
--color-background-accent-red-alpha-hovered: #ff152f52;
--color-background-accent-red-alpha-pressed: #ff152f7a;
--color-background-accent-red-bold-default: #ea0922;
--color-background-accent-red-bold-hovered: #bf0015;
--color-background-accent-red-bold-pressed: #950010;
--color-background-accent-teal-default: #84e2d9;
--color-background-accent-teal-hovered: #33cfc0;
--color-background-accent-teal-pressed: #0ac5b3;
--color-background-accent-teal-alpha-default: #08a49529;
--color-background-accent-teal-alpha-hovered: #08a49552;
--color-background-accent-teal-alpha-pressed: #08a4957a;
--color-background-accent-teal-bold-default: #08a495;
--color-background-accent-teal-bold-hovered: #078377;
--color-background-accent-teal-bold-pressed: #05635a;
--color-background-accent-yellow-default: #ffe270;
--color-background-accent-yellow-hovered: #fdd227;
--color-background-accent-yellow-pressed: #bb9500;
--color-background-accent-yellow-alpha-default: #bb950029;
--color-background-accent-yellow-alpha-hovered: #bb950052;
--color-background-accent-yellow-alpha-pressed: #bb95007a;
--color-background-accent-yellow-bold-default: #bb9500;
--color-background-accent-yellow-bold-hovered: #8f7200;
--color-background-accent-yellow-bold-pressed: #645000;
--color-background-brand-default: #036ce9;
--color-background-brand-hovered: #035bc6;
--color-background-brand-pressed: #023a7e;
--color-background-surface-default: #ffffff;
--color-background-surface-hovered: #f5f6f8;
--color-background-surface-pressed: #cfd4da;
--color-background-surface-alpha-default: #cfd4dad6;
--color-background-surface-alpha-hovered: #bcc3cbcc;
--color-background-surface-alpha-pressed: #96a1adb8;
--color-background-surface-inverse-default: #252a30;
--color-background-surface-inverse-hovered: #343b43;
--color-background-surface-inverse-pressed: #434c56;
--color-background-surface-neutral-default: #616e7c;
--color-background-surface-neutral-hovered: #525d69;
--color-background-surface-neutral-pressed: #434c56;
--color-background-surface-raised-default: #ffffff;
--color-background-surface-raised-hovered: #e2e6e9;
--color-background-surface-raised-pressed: #cfd4da;
--color-background-surface-subtle-default: #434c5600;
--color-background-surface-subtle-hovered: #434c563d;
--color-background-surface-subtle-pressed: #434c565c;
--color-border-base: #bcc3cb;
--color-border-disabled: #bcc3cbcc;
--color-border-subtle: #a9b3bc;
--color-border-subtler: #707f8f;
--color-border-accent-blue-base: #4097ff;
--color-border-accent-gray-base: #9c9c9c;
--color-border-accent-green-base: #12b538;
--color-border-accent-magenta-base: #f26c9c;
--color-border-accent-mint-base: #38a364;
--color-border-accent-orange-base: #fb8c36;
--color-border-accent-purple-base: #8976df;
--color-border-accent-red-base: #ff4055;
--color-border-accent-teal-base: #08a495;
--color-border-accent-yellow-base: #bb9500;
--color-border-focus-focused: #036ce9;
--color-border-focus-inverted-focus: #f5f6f8;
--color-border-input-default: #a9b3bc;
--color-border-input-disabled: #bcc3cbcc;
--color-border-input-hovered: #707f8f;
--color-border-input-pressed: #434c56;
--color-component-app-bar-background-base: #24292f;
--color-component-app-bar-border-base: #252a30;
--color-component-app-bar-icon-base: #96a1ad;
--color-component-app-bar-icon-hovered: #f5f6f8;
--color-component-app-bar-icon-pressed: #ffffff;
--color-component-app-bar-text-base: #96a1ad;
--color-component-app-bar-text-hovered: #f5f6f8;
--color-component-app-bar-text-pressed: #ffffff;
--color-component-table-body-background-hovered: #cfd4dad6;
--color-component-table-body-background-pressed: #a9b3bcc2;
--color-component-table-body-background-even-row-default: #f5f6f8eb;
--color-component-table-body-background-odd-row-default: #fffffff5;
--color-component-table-header-background-default: #e2e6e9;
--color-component-table-header-background-hovered: #cfd4da;
--color-component-table-header-background-pressed: #bcc3cb;
--color-component-widget-background-header-default: #f5f6f8;
--color-icon-base: #343b43;
--color-icon-brand: #036ce9;
--color-icon-inverse: #ffffff;
--color-icon-subtle: #525d69;
--color-icon-subtler: #bcc3cb;
--color-icon-accent-blue-base: #6aaeff;
--color-icon-accent-blue-subtle: #006bea;
--color-icon-accent-gray-base: #9c9c9c;
--color-icon-accent-gray-subtle: #6b6b6b;
--color-icon-accent-green-base: #35e35d;
--color-icon-accent-green-subtle: #0c8728;
--color-icon-accent-magenta-base: #f26c9c;
--color-icon-accent-magenta-subtle: #f58ab0;
--color-icon-accent-mint-base: #43c478;
--color-icon-accent-mint-subtle: #38a364;
--color-icon-accent-orange-base: #fb8c36;
--color-icon-accent-orange-subtle: #eb7317;
--color-icon-accent-purple-base: #a191e6;
--color-icon-accent-purple-subtle: #725ad9;
--color-icon-accent-red-base: #ff4055;
--color-icon-accent-red-subtle: #ff1f38;
--color-icon-accent-teal-base: #0ac5b3;
--color-icon-accent-teal-subtle: #08a495;
--color-icon-accent-yellow-base: #ebbc00;
--color-icon-accent-yellow-subtle: #bb9500;
--color-text-base: #252a30;
--color-text-clear: #a9b3bc;
--color-text-disabled: #616e7c;
--color-text-inverse: #ffffff;
--color-text-subtle: #343b43;
--color-text-subtler: #434c56;
--color-text-subtlest: #616e7c;
--color-text-accent-blue-base: #1580ff;
--color-text-accent-blue-subtle: #6aaeff;
--color-text-accent-gray-base: #595959;
--color-text-accent-gray-subtle: #b5b5b5;
--color-text-accent-green-base: #0c8728;
--color-text-accent-green-subtle: #86f49f;
--color-text-accent-magenta-base: #c84271;
--color-text-accent-magenta-subtle: #f58ab0;
--color-text-accent-mint-base: #43c478;
--color-text-accent-mint-subtle: #82d8a5;
--color-text-accent-orange-base: #ba5406;
--color-text-accent-orange-subtle: #feb073;
--color-text-accent-purple-base: #725ad9;
--color-text-accent-purple-subtle: #b8acec;
--color-text-accent-red-base: #ea0922;
--color-text-accent-red-subtle: #ff6a7b;
--color-text-accent-teal-base: #078377;
--color-text-accent-teal-subtle: #33cfc0;
--color-text-accent-yellow-base: #8f7200;
--color-text-accent-yellow-subtle: #fdd227;
--color-text-link-default: #0057bf;
--color-text-link-hovered: #004495;
--color-text-link-pressed: #0057bf;
        }   
    }